<div class="container w-75 shadow my-3 p-5 rounded" xmlns="http://www.w3.org/1999/html">
  <h1 class="my-3">Reservation</h1>
  <form [formGroup]="reservationForm">
    <div class="mb-3">
      <label
        for="animalName"
        class="form-label"
      >Name:</label>

      <input
        type="text"
        class="form-control"
        id="animalName"
        placeholder="Az állatka neve:"
        formControlName="animalName"

      >

      <label
        for="startTime"
        class="form-label"
      >Email:</label>

      <input
        type="datetime-local"
        class="form-control"
        id="startTime"
        placeholder="Foglalj időpontot"
        formControlName="startTime"
      >
    </div>
    <div class="mb-3">
      <label for="serviceTypes"
             class="form-label"
      >Accommodation Type:</label>
      <select
        id="serviceTypes"
        class="form-control "
        formControlName="serviceTypes"
      >

        <option value="" selected disabled>-- Please select the type of your accommodation! --</option>
        <option value=""></option>
      </select>
    </div>

    <button   type="button" class="btn btn-dark" (click)="saveReservation()" >Reserve</button>

  </form>
</div>
